/* COMMON */
body{
    color:#0a2253;
    min-width: 320px;
}
img{
    width: 100%;
}
.jumbotron h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    margin: 40px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: lighter;
}


/* HEADER */
header img{
    margin-top: 10px ;
}
.burger{
    text-align: right;
    color:#2485fd;
    margin:15px;
    font-size: 22px;
}

.menu-right{
    text-align: right;
    list-style-type:none;
    line-height: 45px;
}

.menu-right li{
    display: inline-block;
    margin: 10px 4px;
}

.menu-right a{
    color: #0a2253;
    font-size:12px;
    font-weight: bold;

}

#header_button{
    border:1px solid #2485fd;
    color:#2485fd;
}

.menu-right:hover{
    color:#2485fd;
}

#header_button:hover{
    background-color:#2485fd;
    color: white;
    margin: 0;
}
/* end HEADER */

/*  MAIN */
.jumbotron{
    background-image: url("../img/ms-jumbo.jpg");
    color:white;
    margin-bottom:0 ;
}

.white-part{
    background-color: white;
    border-radius:5px;
    color:#0a2253 ;
    text-align: center;
    padding:20px;

}
.white-part h2{
    font-weight: 700;
}

.white-part span {
    color:#2485fd;
}

.white-part input{
    margin-bottom:5px;
}

.white-part button{
    background-color:#2485fd ;
    color: white;
    margin-bottom:5px;
}
#google-btn{
    background-color: white;
    color:#b2b2b2;
    text-align: center;
    position:relative;

}
.box-google{
    width:20px;
    position:absolute;
    left:5px;
    top:5px;
}

#little-p{
    font-size: xx-small;
}

#little-p a{
    text-decoration:underline;
}

/* section bg-grey images */
.bg-grey{
    text-align: center;
    background-color: #f3f5f9;
}

.bg-grey h3{
    font-size: 14px;
    font-weight: bold;
    color: grey;
    margin-top: 30px;
}

.images{
    list-style-type:none;
}

.images li{
    display:inline-block;
    width: calc( ( 100% / 6) - 5px );
    margin: 5px 10px;
    vertical-align: middle;
}
@media all and (max-width:768px){
    .images li{
        width: calc( ( 100% / 3) - 5px );
    }

}


.bg-grey a{
    display: block;
    color: #2485fd;
    margin: 18px;
}

/* section deploy */
.bg-white p{
    margin-bottom: 50px;

}

.box-list{
    text-align: left;
}

.deploy{
    list-style-type:none;
    margin-left: 100px;
    padding: 10px;
    border-left: 1px solid;
}
@media all and (max-width:767px){
    .deploy{
        text-align: left;
    }
}

.deploy li{
    margin: 15px 0;
}

.deploy a{
    color:#0a2253;
    font-size: 15px;
}
.box-items{
    text-align:left;
}

.box-img{
    width: 40px;
}
.box-items h5{
    font-weight: bold;
    font-size: 17px;

}

.box-items p{
    font-size: 13px;
    color:#bbbbbb ;
}

/* section upper-slider */
.wrapper-slider{
    width: 70%;
    margin: auto;
    padding:40px 0;
}
.slider-img{
    text-align: center;
}

.wrapper-slider i{
    font-size: 40px;
    color:#0a2253;
    margin-top:150px ;
}

.wrapper-slider .little-p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

.box-items a{
    color:#2485fd;
    font-size: 15px;
    font-weight: bold;
}